@model IEnumerable<SegurosApp.Models.Seguro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroApolice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremioMensal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorSegurado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeguradoraId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seguradora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.NumeroApolice)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.PremioMensal)
            </td>
            <td>
                @Html.DisplayFor(model => item.ValorSegurado)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(model => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(model => item.SeguradoraId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Seguradora)
            </td>
            <td>
                @Html.DisplayFor(model => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Cliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
